{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<h1>Hello World</h1>
<form action="/logout" method="post">
    <input type="submit" name="submit" value="logout">
</form>

<br>

<!--レコード追加-->
<form action="/add" method="post">
    <input type="text" name="name" placeholder="name" required>
    <input type="text" name="birth" placeholder="birth" required>
    <input type="submit" value="add">
</form>

<!---database表示-->
{% for chip in chip_list %}
    <p>{{chip.name}}:{{chip.birth}}:{{chip.chip}}:{{chip.money}}   [{{chip.date}}]</p>
{% endfor %}
</form>
{% endblock %}